.divMainStyles 
{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.divBodyStyles 
{
  display: flex;
  flex: 1;
  overflow: hidden;
}

.divContentStyles 
{
  flex: 1;
  overflow-y: auto;
  background-color: #f4f6f9;
}